
:root {
  --cor-primaria: #6C5CE7;
  --cor-secundaria: #A29BFE;
  --cor-destaque: #FD79A8;
  --cor-texto: #F5F6FA;
  --cor-texto-claro: #BDC3C7;
  --cor-fundo: #141416;
  --cor-card: #141825;
  --cor-borda: #2D4059;
  --cor-sucesso: #00B894;
  --cor-alerta: #E84393;
  --sombra: 0 8px 24px rgba(0, 0, 0, 0.3);
  --sombra-destaque: 0 12px 28px rgba(108, 92, 231, 0.25);
  --destaque: #21242c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 
}

body {
  background-color: var(--cor-fundo) !important;
  color: var(--cor-texto);
  line-height: 1.6;
  overflow-x: hidden;



h1, h2, h3, h4 {
  font-weight: 700;
  
}


a {
  text-decoration: none;
  
}

}

