html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

    a {
        text-decoration: none;
        color: inherit;
    }

    ul,
    ol {
        list-style: none;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
    }

    img {
        max-width: 100%;
        display: block;
    }
}
