$cor-primaria: #6c5ce7;
$cor-secundaria: #a29bfe;
$cor-destaque: #fd79a8;
$cor-texto: #f5f6fa;
$cor-texto-claro: #bdc3c7;
$cor-fundo: #161622;
$cor-card: #141825;
$cor-borda: #2d4059;

.bodyApp {
    color: $cor-texto;
    font-family: "Segoe UI", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .search-sidebar {
        width: calc(100% - 40px);
        right: 20px;
        left: 20px;
    }
}
