
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.app-container {
  display: flex;
  min-height: 100vh;
  background-image: radial-gradient(circle at 20% 30%, rgba(113, 99, 218, 0.149) 20%, transparent 53%), radial-gradient(circle at 80% 70%, rgba(253, 121, 168, 0.1490196078) 0%, transparent 40%);
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 950px;
  margin: 0 auto;
  overflow: hidden; 
}

@media (max-width: 1090px) {
  .tab-content {
    margin-top: 160px;
    margin-bottom: 90px;
  }
}
