@use '../../../styles/App.scss' as *;

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  background-color: $cor-card;
  border-radius: 12px;
  border: 1px solid $cor-borda;
}

.filter-btn {
  background-color: $cor-fundo;
  border: 1px solid $cor-borda;
  color: $cor-texto;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  
  &.active {
    background-color: $cor-primaria;
    border-color: $cor-primaria;
  }
}