.admin-container {
  min-height: 100vh;
}

.content{
    margin: 70px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.page-header{
  h1{
    margin-bottom: 30px;
    margin-top: -80px;
  }
}

.stats {
  background-color: rgba(51, 50, 50, 0.2);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
}


